<div class="p-6 max-w-sm mx-auto bg-blue-950 rounded-xl shadow-md flex items-center space-x-4">
  <div>
    <div class="text-xl font-medium text-white">BTGA Returns in <%= @days_until %> Days</div>
  </div>
</div>
